<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="favorites.length === 0" class="ion-text-center ion-padding-top empty-state">
    <ion-icon name="star-outline" size="large" color="medium"></ion-icon>
    <p>Você ainda não marcou nenhum Pokémon como favorito.</p>
  </div>

  <ion-list *ngIf="favorites.length > 0">
    <ion-item *ngFor="let p of favorites" [routerLink]="['/details', p.id]" detail="true" button>
      <ion-avatar slot="start">
        <img [src]="p.image" />
      </ion-avatar>
      <ion-label>
        <h2 class="ion-text-capitalize">{{ p.name }}</h2>
        <p>#{{ p.id.toString().padStart(3, '0') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>